<header></header>

<!--Deashboard Component-->
<main-dashboard></main-dashboard>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

<!-- Main Body -->
<div class="container-fluid">
    <div class="card">
        <div class="front">
            <img src="assets/aboutme/aboutme-img.jpg" class="main-img">
        </div>
        <div class="back">
            <div class="back-content middle">
                <h2>Agnibha Chowdhury</h2>
                <span><strong>Email:</strong> chowdhury.agnibha.98@gmail.com</span><br>
                <span><strong>Phone Number:</strong> 8013921775</span>
                <div class="sm">
                    <a href="https://www.facebook.com/agnibha.chowdhury.56" target="_blank">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="https://steamcommunity.com/id/rony9707/" target="_blank">
                        <i class="fa fa-steam"></i>
                    </a>
                    <a href="https://www.instagram.com/ronynatsu/" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://www.youtube.com/channel/UCEqOhC1R_Ba68tvQrNJba2A?view_as=subscriber" target="_blank">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>



<!--Footer Component-->
<footer></footer>