<!--Header Component-->
<header></header>

<!--Deashboard Component-->
<main-dashboard></main-dashboard>

<!--Main Component-->
<div class="background">
    <div class="container container-flex">

        <!-- Main Content -->
        <div class="main-div">
            <div class="main-sub">
                <!-- <img src="assets/home/main-img1.jpg" class="main-img"> -->
                <video loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true" class="main-img">
                    <source src = "assets/home/main_video.mp4" type="video/mp4">
                </video>
            </div>
        </div>

        <!-- Side Content -->
        <div class="sidebar">
            <div class="sidebar-sub">
                <div class="social-media">
                    <h6 class="social-media-name">Instagram</h6>
                    <img src="assets/home/instagram-logo.svg" alt="instagram img" class="social-media-img">
                    <table class="social-table">
                        <tr>
                            <td>
                                <div class="social-media-body">Followers:</div>
                            </td>
                            <td>
                                <div class="social-media-value">56</div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="social-media">
                    <h6 class="social-media-name">Steam</h6>
                    <img src="assets/home/steam-logo.svg" alt="steam img" class="social-media-img">
                    <table class="social-table">
                        <tr>
                            <td>
                                <div class="social-media-body">Playing:</div>
                            </td>
                            <td>
                                <div class="social-media-value">Dota 2</div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="social-media">
                    <h6 class="social-media-name">Reddit</h6>
                    <img src="assets/home/reddit-logo.svg" alt="steam img" class="social-media-img">
                    <table class="social-table">
                        <tr>
                            <td>
                                <div class="social-media-body">Karma:</div>
                            </td>
                            <td>
                                <div class="social-media-value">234</div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!-- Side Content End -->

    </div>
</div>



<!--Footer Component-->
<footer></footer>