.dashboard {
    background-color: #a4b0be;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.show-time {
    padding: .50em;
    font-size: 20px;
    font-family: Times, "Times New Roman", serif;
}

.time {
    color: #1e272e;
}

.auth-btn {
    padding: .50em;
}

.login-btn {
    margin-right: .50em;
    font-family: Times, "Times New Roman", serif;
    background-color: #4b6584;
    text-decoration: none;
    font-weight: 500;
    padding: .05em;
    border: none;
    color: #c8d6e5;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    border-radius: 4px;
    text-transform: uppercase;
    min-width: 110px;
}

.register-btn {
    margin-left: .50em;
    font-family: Times, "Times New Roman", serif;
    background-color: #4b6584;
    text-decoration: none;
    font-weight: 500;
    padding: .05em;
    border: none;
    color: #c8d6e5;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    border-radius: 4px;
    text-transform: uppercase;
    min-width: 110px;
}

.login-btn:hover {
    background-color: #dff9fb;
    color: #57606f;
}

.register-btn:hover {
    background-color: #dff9fb;
    color: #57606f;
}

.back-btn {
    margin-right: 1em;
    font-family: Times, "Times New Roman", serif;
    background-color: #70a1ff;
    text-decoration: none;
    font-weight: 500;
    padding: .05em;
    border: none;
    color: #222f3e;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
    border-radius: 4px;
    text-transform: uppercase;
    min-width: 80px;
}

.back-btn:hover {
    background-color: #f6e58d;
    color: #222f3e;
}

@media( max-width:600px) {
    .dashboard {
        flex-direction: column;
        align-items: flex-start;
    }
    .back-btn {
        min-width: 60px;
        font-size: 16px;
    }
    .login-btn {
        min-width: 80px;
        font-size: 14px;
    }
    .register-btn {
        min-width: 80px;
        font-size: 14px;
    }
    .time {
        font-size: 15px;
    }
}

@media( max-width:292px) {
    .back-btn {
        min-width: 40px;
        font-size: 10px;
    }
    .login-btn {
        min-width: 60px;
        font-size: 9px;
    }
    .register-btn {
        min-width: 60px;
        font-size: 9px;
    }
    .time {
        font-size: 10px;
    }
}